.vs/
bin
obj

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
builds
*.pidb
*.svclog
*.scc
