@page "/"
@using NotesFullStack.Shared.Services
@inject IFormFactor FormFactor
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("login");
    }
}
