@page "/register"
@using NotesFullStack.Shared.DTOs

<div class="flex h-screen w-screen content-center items-center justify-center bg-gray-100">
    <div class="rounded-md bg-white p-5 shadow" >
        <h1>Register</h1>
        <EditForm Model="_registerModel">
            <DataAnnotationsValidator />
            <div class="spave-y-3">
                <div>
                    <label>Name</label>
                    <InputText @bind-Value="_registerModel.Name" class="w-full px-2 py-1" placeholder="Enter Name" />
                    <ValidationMessage For="() => _registerModel.Name" class="text-red-700" />

                </div>
                <div>
                    <label>Email</label>
                    <InputText @bind-Value="_registerModel.Email" class="w-full px-2 py-1" placeholder="Enter Email" />
                    <ValidationMessage For="() => _registerModel.Email" class="text-red-700" />

                </div>

                <div class="">

                    <label>Password</label>
                    <InputText @bind-Value="_registerModel.Password" class="password w-full px-2 py-1" placeholder="Enter Password" />
                    <ValidationMessage For="() => _registerModel.Password" class="text-red-700" />

                </div>

                <div class="">

                    <button type="submit" class="w-full rounded-md bg-blue-700 text-center text-white hover:bg-blend-darken"> Login</button>
                    <hr />
                    <NavLink href="login" class="text-blue-700">Existing User? Click here.</NavLink>

                </div>
            </div>
        </EditForm>

    </div>
</div>
@code {
    private RegisterModel _registerModel = new(); 

}
